<h1 mat-dialog-title>Become an organizer</h1>
<div mat-dialog-content>
  <form [formGroup]="becomeOrganizerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="display: block">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
    <app-loading-button [loading]="loading"></app-loading-button>
    <button mat-button (click)="onNoClick()" type="reset">No Thanks</button>
  </form>
</div>
<div mat-dialog-actions>
</div>
