<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="column">
      <p class="fs-70 f-chango">KoKo tournaments</p>
      <p class="fs-40 f-chango">Organize your tournament easy.</p>
      <div>
        <mat-chip-list>
          <mat-chip class="fs-25 h-50" color="accent" selected (click)="openRegisterDialog()">Join</mat-chip>
          <mat-chip class="fs-25 h-50"><a routerLink="/tournaments">Continue as guest</a></mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
