<div class="container">
  <mat-card *ngFor="let organizer of organizers">
    <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      {{ organizer.fullName }}
      <button mat-raised-button color="warn" (click)="revokeOrganizer(organizer.id)">Remove organizer privileges
      </button>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
</div>

<app-pagination [navigationPath]="navigationPath"
                [functionToCall]="functionToCall"
                (result)="onResult($event)"
></app-pagination>
