<h1 mat-dialog-title>Select your team</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <input type="text"
             placeholder="Search..."
             matInput
             name="team"
             [formControl]="teamFormControl"
             [matAutocomplete]="auto"
             required
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let team of filteredTeams" [value]="team.teamName">
          {{team.teamName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <app-loading-button [loading]="loading" [text]="'Join'"></app-loading-button>
    <button mat-button (click)="onNoClick()" type="reset">Cancel</button>
  </form>
</div>
<div mat-dialog-actions>
</div>
