/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #673ab7;
  --accent-color: #ffd740;
  --warn-color: #f44336;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.successAlert {
  background: springgreen;
  color: black;
}

.errorAlert {
  background: var(--warn-color);
  color: black;
}
