@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
  --primary-color: #673ab7;
  --accent-color: #ffd740;
  --warn-color: #f44336;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.successAlert {
  background: springgreen;
  color: black;
}

.errorAlert {
  background: var(--warn-color);
  color: black;
}

.mat-button {
  margin-right: 5px;
}

.opponents {
  border: 2px solid var(--primary-color) !important;
}

.brackets-viewer {
  height: 90vh;
  background-image: url("/./assets/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  --connector-border-width: 5px;
}

.brackets-viewer .opponents > span {
  background: white;
}

.round {
  --round-margin: 90px !important;
}
