.mat-form-field {
  width: 150px;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.form-control p {
  font-size: 1rem;
}

.mb {
  margin-bottom: 10px;
}
