<div class="container">
  <div class="row1">
    <mat-card class="profile-card">
      <img src="assets/profile1.jpg" (click)="changeImage()" class="profile-img">
      <mat-card-title>{{fullName}}</mat-card-title>
      <mat-card-content>
        <mat-card-subtitle>Won {{win}}/{{total}} tournaments</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <div class="chart-container">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag" class="chart">
      </highcharts-chart>
    </div>
  </div>
  <div class="row2"
       style="">
    <div class="tournament-container" style="">
      <mat-form-field appearance="fill">
        <mat-label>Show</mat-label>
        <mat-select [formControl]="type">
          <mat-option value="all">All</mat-option>
          <mat-option value="won">Won</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="tournaments">
        <mat-card *ngFor="let tournament of tournaments">
          <mat-card-title>{{tournament.tournamentName}} - {{tournament.tournamentType}}</mat-card-title>
          <a [routerLink]="['/tournament', tournament.tournamentId]" mat-raised-button color="primary">Open</a>
        </mat-card>
      </div>
      <app-pagination [navigationPath]="navigationPath"
                      [functionToCall]="functionToCall"
                      (result)="onResult($event)"
      ></app-pagination>
    </div>
  </div>
</div>
