<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span><img src="../../../../assets/logo.png" class="logo"></span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
      <mat-chip-list>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </mat-chip-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
