<h1 mat-dialog-title>Register new account</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" style="display: block">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
    <div class="button-container">
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="24"></mat-spinner>
      </div>

      <button [disabled]="loading" mat-raised-button color="primary" type="submit">
        Register
      </button>
    </div>
    <button mat-button (click)="onNoClick()" type="reset">No Thanks</button>
<!--    <button style="display: inline;" mat-raised-button type="submit" color="primary">Register</button>-->
  </form>
</div>
<div mat-dialog-actions>
</div>
