<div class="backgorund">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <div fxLayout="column" fxFlex="80">
        <p class="fs-40 f-chango text-center" >Tournaments</p>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ongoing tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Top1</p>
            <mat-divider></mat-divider>
            <p>Top2</p>
            <mat-divider></mat-divider>
            <p>Top3</p>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ongoing tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Top1</p>
            <mat-divider></mat-divider>
            <p>Top2</p>
            <mat-divider></mat-divider>
            <p>Top3</p>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ongoing tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Top1</p>
            <mat-divider></mat-divider>
            <p>Top2</p>
            <mat-divider></mat-divider>
            <p>Top3</p>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

