<div class="backgorund">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <div fxLayout="column" fxFlex="80">
        <p class="fs-40 f-chango text-center">Tournaments</p>
        <mat-accordion>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ongoing tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let tournament of ongoingTournaments">
              <p>{{ tournament.name }}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="text-center f-chango mt-5">
              <mat-chip color="accent" selected>
                <a routerLink="/allTournaments/ongoing/1/15" class="text-white">View more</a>
              </mat-chip>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Finished tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let tournament of finishedTournaments">
              <p>{{ tournament.name }}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="text-center f-chango mt-5">
              <mat-chip color="accent" selected>
                <a routerLink="/allTournaments/finished/1/15" class="text-white">View more</a>
              </mat-chip>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Coming soon tournaments
              </mat-panel-title>
              <mat-panel-description>
                Open for more
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let tournament of comingSoonTournaments">
              <p>{{ tournament.name }}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="text-center f-chango mt-5">
              <mat-chip color="accent" selected>
                <a routerLink="/allTournaments/comingsoon/1/15" class="text-white">View more</a>
              </mat-chip>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

