<mat-nav-list>
  <h2 class="header" matSubheader>Tournament info
    <button mat-icon-button (click)="sideBarToggle()">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <div *ngIf="tournament">
    <mat-list-item [disableRipple]="true">
      <p>Tournament name: {{tournament.tournamentName}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament category: {{tournament.tournamentCategory}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament type: {{tournament.tournamentType}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament status: {{tournament.tournamentTimelineType}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament description: {{tournament.description}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament location: {{tournament.location}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament start date: {{tournament.startingDate | date:'short'}}</p>
    </mat-list-item>
    <mat-list-item [disableRipple]="true">
      <p>Tournament participants: {{tournament.tournamentActualParticipants}}</p>
    </mat-list-item>
    <ol>
      <li *ngFor="let participant of participants">{{participant}}</li>
    </ol>
    <mat-list-item>
      <button mat-raised-button color="primary"
              *ngIf="isLoggedIn() && tournament.tournamentTimelineType == 'COMING_SOON'"
              (click)="joinTournament(tournament.tournamentType, tournament.tournamentId)"
              [disabled]="tournament.tournamentActualParticipants == tournament.tournamentNumberOfParticipants">
        Join
      </button>
    </mat-list-item>
  </div>

</mat-nav-list>
