<mat-nav-list>
  <h2 class="header" matSubheader>Tournament info
    <button mat-icon-button (click)="sideBarToggle()">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <div *ngIf="tournament" class="tournament">
    <p>Tournament name: {{tournament.tournamentName}}</p>
    <p>Tournament category: {{tournament.tournamentCategory}}</p>
    <p>Tournament type: {{tournament.tournamentType}}</p>
    <p>Tournament status: {{tournament.tournamentTimelineType}}</p>
    <p>Tournament description: </p>
    <p [innerHTML]="tournament.description">
      {{tournament.description}}
    </p>
    <p>Tournament location: {{tournament.location}}</p>
    <p>Tournament start date: {{tournament.startingDate | date:'short'}}</p>
    <p>Tournament participants: {{tournament.tournamentActualParticipants.length}}</p>
    <ol *ngIf="tournament.tournamentType == 'TEAM'">
      <li *ngFor="let participant of tournament.tournamentActualParticipants"
          class="participant-select"
          (click)="onClicked(participant)"
      >
        {{participant.participantName}}
      </li>
    </ol>
    <ol *ngIf="tournament.tournamentType == 'INDIVIDUAL'">
      <li *ngFor="let participant of tournament.tournamentActualParticipants"
          class="participant-select">
        <a class="participant-select" [routerLink]="['/profile',participant.participantId,1,15]">{{participant.participantName}}</a>
      </li>
    </ol>
    <button mat-raised-button color="primary"
            *ngIf="isLoggedIn() && tournament.tournamentTimelineType == 'COMING_SOON'"
            (click)="joinTournament(tournament.tournamentType, tournament.tournamentId)"
            [disabled]="tournament.tournamentActualParticipants.length == tournament.tournamentNumberOfParticipants">
      Join
    </button>
  </div>

</mat-nav-list>
