.header {
  display: flex;
  justify-content: space-between;
}

.mat-list-item:hover {
  background-color: white;
  cursor: auto;
}

.tournament {
  padding: 16px;
  font-size: 1rem;
}

p {
  margin-bottom: 20px;
}

.participant-select:hover{
  margin-bottom: 3px;
  color: var(--primary-color);
  cursor: pointer;
}

