<mat-toolbar color="primary">
  <mat-toolbar-row>

    <a routerLink="/">
      <span><img src="assets/logo.png" class="logo"></span>
    </a>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
      <mat-chip-list *ngIf="!isLoggedIn()">
        <mat-chip color="accent" selected (click)="openRegisterDialog()">Join</mat-chip>
        <a routerLink="/login">
          <mat-chip>
            Log in
          </mat-chip>
        </a>
      </mat-chip-list>

      <mat-chip-list *ngIf="isLoggedIn()">
        <mat-chip color="accent" selected (click)="openBecomeOrganizerDialog()">Become an organizer</mat-chip>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My profile</span>
          </button>
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </mat-chip-list>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
